@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.chunk {
    border-radius: 18px;
    background: #4e4d71;
    position: relative;
    margin: 14px 15px;
    height: 70px;
    padding: 5px 23px 10px 23px;
}

.title {
    font-size: 15px;
    text-align: left;
    margin: 0px 70px 0px 0px;
    cursor: pointer;
}

.text {
    font-size: 12px;
    font-weight: 300;
    text-align: left;
    margin: 0px;
}

.text-grouping {
    margin: 10px 20px 8px 0px;
    width: 200px;
    float: left;
}

.copy-icon {
    max-width: 15px;
    position: absolute;
    top: 33px;
    right: 25px;
    cursor: pointer;
}

.text-stats {
    text-align: left;
    font-size: 10px;
    font-weight: 300;
    margin: 15px 0px;
    position: flex;
    bottom: 0px;
}

.delete-icon {
    max-width: 15px;
    cursor: pointer;
    position: absolute;
    top: 63px;
    right: 25px;
}

.expanded {
    height: auto;
    min-height: 100px;
}