@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.chunklist {
    width: 297px;
    background-color: #343434;
    justify-content: center;
    height: 410px;
    overflow: scroll;
}
/* Temporary: Remove + adapt later */
.buffer {
    background-color: #343434;
    height: 226px;
}

.chunklist-empty {
    background-color: #343434;
    justify-content: center;
    align-items: center;
    width: 297px;
    height: 410px; /* Adjust later to get the right size */
}

.emoji {
    max-width: 60px;
    margin-top: 80px;
}

.large-message {
    font-size: 25px;
    padding: 15px 35px 0px 35px;
}

.small-message {
    font-size: 15px;
    font-weight: 200px;
    padding: 0px 50px;
}

.arrow {
    max-width: 180px;
}

.side-screen {
    background: #343434;
    width: 297px;
    text-align: left;
    margin-bottom: 0px;
}

.info-screen {
    background: #343434;
}

.title-header {
    font-size: 18px;
    position: relative;
    margin: 0px 0px 0px 30px;
}

.delete-all {
    background: #382b2b;
    margin: 30px 30px 0px 30px;
    border-radius: 20px;
    text-align: center;
    border-color: #db3939;
    border-style: solid;
    border-width: 1px;
}

.warning-text {
    color: #db3939;
    font-size: 12px;
    padding: 5px 18px 18px 18px;
}

.warning {
    font-size: 15px;
    padding: 2px;
}

.delete-button {
    background: #db3939;
    font-size: 12px;
    border: none;
    padding: 10px 18px;
    border-radius: 15px;
    margin: 0px 0px 30px 0px;
    cursor: pointer;
    transition: ease 0.3s;
    color: #343434;
}

.delete-button:hover {
    background: #cecece;
    color: #db3939;
}

.settings-buffer {
    width: 297px;
    height: 147px;
}

.info-text {
    font-size: 12px;
    font-weight: 300;
    margin: 15px 30px;
}

.info-buffer {
    height: 8px;
}

.instructions {
    max-width: 244px;
    display: flex;
    margin: auto;
    border-radius: 15px;
}